[2018-06-12 15:47] dancomanlive opened #5 "FetchError: request to http://127.0.0.1:3030/accounts failed, reason: connect ECONNREFUSED 127.0.0.1:3030"
[code]

yarn start-ganache is running

[2018-06-12 15:49] dancomanlive commented on #5
Had to redeploy contracts on truffle to make it work

[2018-06-12 15:49] #5 closed

[2018-06-12 17:46] chmanie commented on #5
Just for reference: the `http://127.0.0.1:3030/accounts` URL points to a trufflepig endpoint.

[2018-06-18 14:21] jschiarizzi opened #6 "update network with Rinkeby connection to ethers or web3"

[2018-08-15 11:28] ryanchristo opened #10 "Add connectRinkeby example"
## Description

Add `connectRinkeby` example to the `colony-starter-basic` package.

## Related Issues

JoinColony/colonyJS#243
JoinColony/colonyStarter#6

[2018-08-15 11:28] ryanchristo opened #11 "Add connectMetamask example"
## Description

Add `connectMetamask` example to the `colony-starter-basic` package.

## Related Issues

JoinColony/colonyJS#243
JoinColony/colonyStarter#6

[2018-08-16 07:54] #10 closed

[2018-08-16 08:46] #11 closed

[2018-08-16 09:45] ryanchristo opened #14 "Errors when using connectMetamask with colonyJS"
## Description

When calling colonyJS methods using the `connectMetamask` example while connected to the rinkeby network, the following error is thrown:

[code]

The transactions are going through and they are verifiable on Etherscan but `node-metamask` is not receiving the transaction receipts and the colonyJS methods are unable to complete successfully.

The error is being thrown from the instal

[2018-08-17 05:26] ryanchristo commented on #14
After further investigation, the `gasPrice` and `value` returned from `getTransaction` are both being returned as string types, which `ethers` does not accept and therefore does not `hexify`.

I was able to add a `formatResult` method to the `RemoteMetamaskProvider` in `node-metamask` and convert the values to numbers (`ethers` does not accept standard big number types such as those provided by `b

[2018-08-17 12:11] ryanchristo commented on #14
I experimented with a condition in the above mentioned `formatResult` method in `node-metamask` that pushes any result with `logIndex` to a new array and returns the array as the result. The `not an array` error went away but now `getTransaction` is not being called following following a successful `sendTransaction`, which works for `createToken` but not `createColony`.

[2018-08-19 07:47] ryanchristo commented on #14
Sometimes `getTransaction` is called following `sendTransaction` for `createColony` and the result from `getTransaction` is handled, then sometimes `getTransactionReceipt` is called and handled too but the `createColony` method still does not complete successfully. `node-metamask` seems to stop handling the calls and results once it has received results from `eth_filter`. Still investigating...

[2018-08-21 11:57] ryanchristo opened #15 "Create colony-starter-react package"
## Description

Build out the `colony-starter-react` package that will demonstrate how to use colonyJS within a dApp using react and webpack.

[2018-08-21 11:59] ryanchristo opened #16 "Update colony-starter-react package"
## Description

~Create a `colony-starter-uport` package that will demonstrate how to integrate uPort with colonyJS.~

Update `colony-starter-react` package to be a true boilerplate.

[2018-08-22 12:46] ryanchristo commented on #14
I believe I resolved the issue with intermittent success, which was an issue with `MetaMaskConnector` in `node-metamask` sending the wrong result for the given request. All errors in this issue should be resolved with the next release once node-metamask#8 is merged and the next release is published.

[2018-08-23 08:38] ryanchristo commented on #14
Resolved with `node-metamask` version `1.1.1`.

[2018-08-23 08:38] #14 closed

[2018-08-23 08:43] ryanchristo commented on #6
@jschiarizzi The latest version of `colony-starter-basic` now has a `connectRinkeby` example and a `connectMetamask` example. Let me know if you have any questions. Closing issue.

[2018-08-23 08:43] #6 closed

[2018-08-23 19:06] jschiarizzi commented on #6
@ryanchristo nice job, congratz on the push 🙌

[2018-08-24 10:49] ryanchristo opened #19 "Create documents for static docs site"
## Description

Create and configure colonyStarter documents for static docs site.

[2018-08-26 02:41] #19 closed

[2018-08-31 16:46] mikwerdna opened #22 "Error: Cannot find module 'chalk'"
## Description

Step 2 fails to unpack the `colony-starter-basic` package. Following exception is thrown.

[code]

## Steps to Reproduce

0. Meet prerequisites listed on [Getting Started](https://github.com/JoinColony/colonyStarter).
1. Execute step 1.
2. As part of step 2, run following command:

[code]

## Environment

`macOS 10.13.6`
`node 9.5.0`
`yarn 1.9.4`

[2018-09-01 09:37] ryanchristo commented on #22
@mikwerdna Not sure how this one slipped through testing and review. The `chalk` dependency must have been installed globally on our end.

It should be fixed now with the latest release. Try running `yarn upgrade @colony/colony-starter` and then running the command again. Let me know if that works.

[2018-09-01 15:29] mikwerdna opened #25 "Error: Cannot find module 'commander'"
## Description
Step 2 fails to unpack the colony-starter-basic package. Following exception is thrown.

[code]

## Steps to Reproduce

0. Meet prerequisites listed on [Getting Started](https://github.com/JoinColony/colonyStarter).
1. Execute step 1.
2. As part of step 2, run following command:
[code]

[2018-09-01 16:04] mikwerdna commented on #22
@ryanchristo Thank you.

I upgraded, ran the command, and got another throw for the `commander` module. So I created an issue and sent you a PR for it.

[2018-09-02 06:15] ryanchristo commented on #25
@mikwerdna Thanks! I was able to reproduce the error after clearing all of the global packages on my machine and reinstalling the `@colony/colony-starter` package.

There were a few more packages we needed to add and they needed to be added to `package.json` in the `packages/colony-starter` directory. We also needed to run `yarn` again from the root to generate an updated `yarn.lock` file.

I crea

[2018-09-02 06:34] mikwerdna commented on #25
@ryanchristo I upgraded and everything is working great. Thank you.

[2018-09-02 06:35] #25 closed

[2018-10-11 17:47] ryanchristo commented on #15
Sorry for the delay! I'll be getting back to this next week!

[2018-10-18 17:11] ryanchristo opened #39 "Update `createToken` method to use sender"
## Description

The `createToken` method will become a regular `Sender` method once JoinColony/colonyJS#285 is merged and published. Update `createToken` to `createToken.send` throughout examples.

[2018-10-24 12:13] ryanchristo opened #40 "Update to latest colonyJS packages"
## Description

Update colonyStarter packages to latest colonyJS packages.

[2018-11-12 13:53] #39 closed

[2018-11-12 13:53] #40 closed

[2018-11-19 16:22] MichaelHirn opened #43 "Error: `createTask` - expected Buffer"
## Description

`yarn start` and `yarn test` fail with the following error:

[code]

## Steps to Reproduce

Followed all the steps in [Getting Started](https://github.com/JoinColony/colonyStarter) and [colony-starter-basic](https://github.com/JoinColony/colonyStarter/tree/master/packages/colony-starter-basic) up until the last command of `yarn start`/`yarn test`.

[2018-11-21 04:58] ryanchristo commented on #43
@MichaelHirn Thanks for posting. Looking into it now. Will follow up later today.

[2018-11-28 03:53] ryanchristo commented on #43
Hey @MichaelHirn! Sorry for the delay. We had to make some updates to the colonyJS library and we did some updates to colonyStarter in the process but all should be working again!

If you create a fresh starter pack by running `colony-starter colony-starter-basic`, it will install the latest version with the fix. I just tested it on my machine so you should be good to go. I'm going to close this i

[2018-11-28 03:53] #43 closed

[2018-11-30 12:05] igorline opened #45 "colony-js-adapter-ethers throws error with latest yarn"
I'm getting this error with `@colony/colony-starter-basic@1.0.0-beta.6`

`error @colony/colony-js-adapter-ethers@1.7.0: The engine "yarn" is incompatible with this module. Expected version ">=1.3.2".
error Found incompatible module`

I'm using yarn 1.12.3

[2018-11-30 12:59] ryanchristo commented on #45
As mentioned in the Gitter channel, I was unable to reproduce using node `10.12` and yarn `1.12.3`. I created a PR to add the recommended yarn version to the docs. Let me know if a fresh setup works.

[2018-12-03 15:39] #15 closed

[2018-12-03 17:49] chmanie commented on #45
We really need to remove that line from colony-js. Pinging @JamesLefrere

[2018-12-03 20:10] JamesLefrere commented on #45
Fixed in colonyJS#316 👍 We'll make a new release so this can be resolved here.

[2018-12-03 22:59] igorline commented on #45
My bad! Seems like yarn wasn't linked to proper node version in nvm, thus there was this error thrown while setting up new project.
After installing -> linking yarn to proper node version everything is working smoothly!

[2018-12-04 04:49] ryanchristo commented on #45
@igorline No problem! Glad to hear everything is working now.

[2018-12-04 04:49] #45 closed

[2018-12-16 11:05] fuguefoundation opened #50 "Include instructions for Docker"
## Description

The repo mentions Docker as a dependency but makes no reference as to how it should be configured.

## Steps to Reproduce

I have followed the instructions both in `colony-starter-basic` and in the colony [Getting Started](https://docs.colony.io/colonyjs/docs-get-started/) docs. Each time I issue either of the following commands, I get a Docker error.

### Error
`Error: No such ima

[2018-12-16 11:14] chmanie commented on #50
Good call! Docker is now a dependency of truffle (since v5) and certainly doesn’t mitigate the entry barrier here.
To fix your issue:

1) have docker installed and running
2) in your command line do `docker pull ethereum/solc:0.4.23`

Then try again. You’re right, this should be part of the documentation (we’re happy about every PR :wink:)

[2018-12-17 03:39] ryanchristo commented on #50
@fuguefoundation Thanks for posting the issue!

Could you please confirm that it did not work when installing `colony-starter-basic`? Was Docker running when you ran the command? I just want to double check the issue because the `pull docker` command is included [here](https://github.com/JoinColony/colonyStarter/blob/38f357f72346d5a5ba41f62f3887cd4dae4852a8/packages/colony-starter-basic/scripts/in

[2018-12-22 08:01] fuguefoundation commented on #50
So before `yarn deploy-contracts`, I called `docker pull ethereum/solc:0.4.23` as mentioned above. Start Docker daemon, `docker login`, good to go.

What I think the confusion here is that these Readme instructions don't tell you to call `yarn initialize`, thus `initialize_project.sh` (which has the docker pull command in it) is not implemented unless you know to look for it explicitly.

I should

[2018-12-24 11:07] ryanchristo commented on #50
@fuguefoundation Thanks for the feedback! We are excited to have you buidling with us! 🎉

`yarn initialize` is not included in the `colony-starter-basic` or `colony-starter-react` instructions because `yarn initialize` is called [here](https://github.com/JoinColony/colonyStarter/blob/89aa452900f748cec5e87db98bc3c73e5786dc66/packages/colony-starter/index.js#L101) when you install a package using th

[2019-01-03 06:05] ryanchristo opened #53 "Add example using Ether"
## Description

Add an example to `colony-starter-basic` that uses Ether as the native token.

[2019-01-05 10:59] fuguefoundation commented on #50
https://build.colony.io/t/ng-colony-truffle-box-for-colony-basic-starter-and-angular/129
@ryanchristo @chmanie
Happy New Year! A Truffle Box I'm working on with Angular and Colony. Your feedback is welcome.

[2019-01-07 04:51] ryanchristo opened #55 "Create a colony-starter-angular package"
## Description

Create a `colony-starter-angular` package that will demonstrate how to use colonyJS with Angular.

[2019-01-07 04:52] ryanchristo opened #56 "Create `colony-starter-vue` and `colony-example-vue` packages for colonyStarter"
# Colony Starter vue

Create a `colony-starter-vue` package that will demonstrate how to use colonyJS with Vue.

## Scope

This issue is considered 'complete' when a PR is merged into the colonyStarter repo that implements:

- [x] A `colony-starter-vue` package that will act as a simple boilerplate for using colonyJS with Vue.

- [x] A `colony-example-vue` package that, like the `colony-example-re

[2019-01-08 11:36] fuguefoundation commented on #55
Hope to help move forward with this over the coming weeks.

[2019-01-09 05:53] ryanchristo commented on #55
@fuguefoundation That would be great! Looking forward to getting this one started.

[2019-01-12 13:47] fuguefoundation commented on #55
https://github.com/fuguefoundation/colony-starter-angular

@ryanchristo I took your suggestion and implemented `colonyNetwork` as a submodule. Definitely the right call, and it was a good learning experience for me. This also allowed me to avoid having conflicting package.lock and yarn.lock files. So it is working and implements `connectNetwork`, `createToken`, `createColony`, `getColonyClient`, `

[2019-01-12 14:35] ryanchristo commented on #55
@fuguefoundation This is great! Do you want to create a pull request in this repository and add it to the `packages` folder? We can work together on the errors and then get an initial beta version published!

Check out [Contributing](https://github.com/JoinColony/colonyStarter/blob/master/.github/CONTRIBUTING.md) for more information about opening a pull request.

[2019-01-17 09:30] ryanchristo commented on #55
@fuguefoundation Do you need any help opening a pull request?

[2019-01-19 14:47] fuguefoundation commented on #55
Hey @ryanchristo, my best coding time is on the weekends :) [PR submitted](https://github.com/JoinColony/colonyStarter/pull/58), thanks for the contributing guidance.

[2019-01-21 16:33] ryanchristo commented on #55
As mentioned in colonyStarter#58, let's add some UI components in a new PR. Thanks again for the PR and laying the groundwork for `colony-starter-angular` package!

[2019-01-21 16:33] #55 closed

[2019-01-21 16:52] ryanchristo opened #59 "Add UI components to colony-starter-angular"
## Description

Currently, the `colony-starter-angular` package runs through the following 6 examples:

1. `connectNetwork`
2. `createToken`
3. `createColony`
4. `getColonyClient`
5. `addDomain`
6. `createTask`

As a user, I would like to perform these actions via a simple user interface, i.e. when creating a token, I would like to be able to enter the name and symbol using a form with a submit bu

[2019-01-22 09:15] fuguefoundation commented on #59
Great, will address in the coming days.

[2019-01-27 13:04] fuguefoundation commented on #59
@ryanchristo [PR submitted](https://github.com/JoinColony/colonyStarter/pull/60)

[2019-01-27 13:53] ryanchristo commented on #59
@fuguefoundation Awesome! Thanks again. I'll take a look at the PR and update the README once the package has been published (when it is possible to call `colony-starter colony-starter-angular`).

[2019-02-03 17:17] ryanchristo commented on #59
@fuguefoundation Thanks again! Nice work!

[2019-02-03 17:17] #59 closed

[2019-02-06 03:48] ryanchristo opened #62 "Create colony-starter-basic-plus package"
## Description

This idea is currently in the works but the `colony-starter-basic` package has grown to a point "basic" is not entirely fitting and the starter package might be a bit overwhelming for new developers.

It might make sense to keep what is currently in `colony-starter-basic` but duplicate the package and give it a new name (maybe `colony-starter-basic-plus`) and then trim down the ori

[2019-02-10 20:09] bmiller59 opened #65 "Feature request: Create a separate service module"
Please consider packaging colonyNetwork and the various tasks that need to be run (e.g. starting Ganache and TrufflePig) into a separate service module which can be installed via npm. For the sake of discussion, let's call this new module `colonyNetwork-service`.

The inspiration for this idea comes from the way vue-cli encapsulates its tasks (and all of the complex webpack build setup and related

[2019-02-16 05:16] ryanchristo opened #66 "Add postinstall script to each starter package"
## Description

Each starter package should have a `postinstall` script in addition to the `initialize_project` script in order to make upgrading colonyNetwork within a built colonyStarter package more smooth.

[2019-02-16 05:20] ryanchristo opened #67 "Add instructions for upgrading colonyNetwork"
## Description

Each colonyStarter package readme should have instructions on how to upgrade colonyNetwork.

[2019-02-20 15:14] mehranhydary opened #68 "Error seeding the network"
## Description

I am getting an error while trying to run the seed-network script.

## Steps to Reproduce

1. From the root directory of colony-starter-react run `yarn seed-network`

[code]

[2019-02-20 16:55] ryanchristo commented on #68
Hey @mehranhydary!

I'm just going to repost the cause of the issue that we discussed in the [Gitter channel](https://gitter.im/JoinColony/colonyStarter).

I thought I set specific versions in the colonyStarter packages for colonyJS dependencies but it looks like I might have changed that recently. The issues are related to installing a couple colonyJS packages that are version `1.11.0`, which int

[2019-02-23 01:52] #66 closed

[2019-02-28 01:36] fuguefoundation opened #71 "Explain networkClient contract address (Rinkeby)"
## Description

[code]

`networkClient._contract.address` resolves to contract `0xE9d22C1cD375AF95f65201d7ed86e7AAf5aEDAEf` on Rinkeby.

https://rinkeby.etherscan.io/address/0xE9d22C1cD375AF95f65201d7ed86e7AAf5aEDAEf

Having read through the docs/white paper, the following two things are still not clear to me and I would appreciate any insight, thanks!

1. Which specific Colony contract does this

[2019-02-28 01:48] fuguefoundation opened #72 "How best to store multisig data for later use"
## Description

In colony-starter-basic, you employ a mock database to temporarily store multisig data such as this.

`{"nonce":2,"payload":{"data":"0x6aaf4a7700000000000000000000000000000000000000000000000000000000000000010000000000000000000000005adb2d997aa9d5a6b8b0bae48b38f0c6856dbaab000000000000000000000000000000000000000000000000000000000000000a","inputValues":{"taskId":1,"token":"0x5aDb2D997A

[2019-02-28 17:50] ryanchristo commented on #72
This will depend on the stack that the project is built with, which is why we use a mock database in the colonyStarter packages. The mock database in `colony-starter-basic` only stores data for the duration of the script and `colony-starter-react` stores data in the browser using local storage.

In the dApp, we store multisignature operations using IPFS via OrbitDB. This provides a decentralized d

[2019-02-28 18:08] fuguefoundation commented on #72
Thanks @ryanchristo, mostly looking for ideas and best practices. I am currently using (in local development) an Express db backend for the multisig, but that's not going to cut muster as it stands.

Correct me if I'm wrong, and fully recognizing that "it depends", but for this particular piece of a dapp, a decentralized backend is not entirely necessary, since for the multisig to work it will onl

[2019-02-28 18:30] ryanchristo commented on #71
`0xE9d22C1cD375AF95f65201d7ed86e7AAf5aEDAEf` is the address of the `EtherRouter` contract.

This is a bit complex. More information about the EtherRouter can be found [here](https://docs.colony.io/colonynetwork/docs-upgrades-to-the-colony-network/#etherrouter). The `networkClient` connects to the `ColonyNetwork` contract via the `EtherRouter` contract, which allows us to upgrade contracts (deploy

[2019-02-28 18:37] ryanchristo commented on #72
Yup, this is true. This is something that we chose to do in the spirit of a being fully decentralized.

[2019-02-28 18:45] ryanchristo commented on #71
Also, if you want to see how this is implemented in colonyJS, you can see [here](https://github.com/JoinColony/colonyJS/blob/d6b1534baeb4892dd9e11103a6e641b62e7379b8/packages/colony-js-client/src/ColonyNetworkClient/index.js#L670) that the default query for the `networkClient` is targeting the `IColonyNetwork` interface contract using `EtherRouter`.

[2019-02-28 18:54] ryanchristo commented on #71
[Here's another resource](https://www.youtube.com/watch?v=Sw9O2LWgWC0) if you want to learn more about "wiring upgradeable contracts". This is a talk one of our core developers gave at TruffleCon last Fall about this very topic.

[2019-03-03 14:56] pynchmeister opened #73 "Errors when running scripts/start_ganache.sh"
## Description

I was curious to discover the intricacies of the colony ecosystem, although I have an issue activating colony-starter-basic...

## Steps to Reproduce

I followed the directions in the root readme of this repository for installation via yarn. The error arose when running the ```yarn start-ganache``` command.

As follows are the error messages generated:

[code]

[2019-03-05 10:48] ryanchristo commented on #73
Hi @pynchmeister! Thanks for posting an issue.

I'm unable to reproduce the error. It looks like `colonyNetwork` was not added as a submodule, which is why you are receiving the `lib/colonyNetwork: No such file or directory` error. This should have been added when running `colony-starter colony-starter-basic`.

I was able to run the following commands without error:

[code]

Did you run into any e

[2019-03-06 13:58] pynchmeister commented on #73
Hello @ryanchristo! Thank you for the quick response. I can't seem to get past the first command, ```yarn global add colony-starter```, which produces the error seen below:

[code]

I reinstalled yarn globally using npm, I am using yarn v1.13.0. I tried using search engines to discover the place where the yarn package is located, but with no luck (I am not a yarn expert, myself)

[2019-03-06 14:23] ryanchristo commented on #73
Whoops! Amended my comment above. The proper name for the package includes `@colony/` as it appears in the README:

[code]

[2019-03-06 14:29] pynchmeister commented on #73
Awesome, that downloaded fine with the inclusion of the @ sign. Unfortunately the second command does not work successfully:

```colony-starter colony-starter-basic```

```zsh: command not found: colony-starter```

[2019-03-06 14:33] ryanchristo commented on #73
Any chance you're using Linux?

If so, you'll need to go through the [Linux Setup](https://github.com/JoinColony/colonyStarter/blob/master/.github/LINUX_SETUP.md) instructions.

[2019-03-06 14:38] pynchmeister commented on #73
Yes, I am on macOS. Thanks for the link, I will close this issue once I get this repo up and running 🐲

[2019-03-06 15:06] pynchmeister commented on #73
Alright I have run into more issues, although I have finally gotten ```yarn start-ganache
[code]

[2019-03-06 15:06] #73 closed

[2019-03-06 15:07] pynchmeister commented on #16
Is this still open? I would be glad to give it a shot!

[2019-03-06 15:13] ryanchristo commented on #16
Yes, still open!

I was considering an alternative direction since we will need to create a front-end example dApp that connects to uPort, so maybe something built on top of another package. My thought was to split the react package into a simplified package and the more robust package that currently exists, then we could demonstrate a uPort integration on top of the basic package. I am open to id

[2019-03-06 15:13] pynchmeister commented on #68
Is this fixed? I am still having issues running ```yarn seed-network``` as well as ```yarn start``` (although this is probably due to the latter.

[2019-03-06 15:16] pynchmeister commented on #16
I think simplification is almost always a good idea although I have yet to see the current react package visually given to some compilation errors.

I was planning to model the issue after this truffle-box: https://github.com/truffle-box/react-uport-box

This is the only time I have used uPort, so I am a bit biased, although always open to suggestion/guidance!

[2019-03-06 15:25] ryanchristo commented on #16
I would be happy to help with suggestions and guidance!

I think the simplified package will need to be more in line with create-react-app, which I believe is what all truffle boxes currently use. We will not need truffle in the starter package because we will be using colonyNetwork as a submodule but I think the `react-uport-box` would be a good point of reference.

Would you be interested in cre

[2019-03-06 15:28] ryanchristo commented on #68
A new version has not been published yet so the same temporary solution is still required:

[2019-03-07 16:56] pynchmeister commented on #16
Sure, I would be down to give it a try!

[2019-03-07 17:03] pynchmeister commented on #68
Could you give more detail on how to verify I am using that version?

[2019-03-07 17:07] igorline commented on #68
Pin it in package.json explicitly

[2019-03-11 10:44] ryanchristo commented on #68
Hey @pynchmeister! Did you get it working? Just to clarify what that would look like, you would want the colonyJS packages in your`package.json` to look like this:

[code]

And then you would need to run `yarn` again to update the packages. I should be able to finish the updates and publish a new `colony-starter-react` package by the end of the day today, so this will no longer be an issue with a

[2019-03-22 08:53] ryanchristo commented on #68
Updated versions of `colony-starter-react` and `colony-starter-angular` published. Closing Issue.

[2019-03-22 08:53] #68 closed

[2019-03-22 09:07] #62 closed

[2019-03-30 19:51] #67 closed

[2019-03-30 22:53] bmiller59 opened #82 "Error: Command failed: yarn initialize"
## Description

Error: Command failed: yarn initialize when using colony-starter

## Steps to Reproduce

After running `npm install -g colony-starter` to upgrade colony-starter and then running ` colony-starter colony-starter-basic` I get the following error.

[code]

[2019-04-01 11:28] ryanchristo commented on #82
Hmmm... based off the error message it looks like an issue with calling `yarn initialize`, which I am not sure why that would be called. Did you at one point have a script file in your project named `initialize` that no longer exists? Did you try globally installing with `yarn`? I am using the same version of `yarn` and I was unable to reproduce the error.

Also, have you tried upgrading to the la

[2019-04-02 03:45] bmiller59 commented on #82
Thanks, Ryan. I had `rm -rf colony-starter-basic` and then ran `colony-starter colony-starter-basic` as described above, so it should have been a clean install. And no, I had not set up an initialize script. Strange. Anyway, I do not need colony-starter right now: I had only tried to pull it down to compare to see what changed when trying to debug other issues. Feel free to close this for now and

[2019-04-03 21:05] #82 closed

[2019-04-03 21:05] #16 closed

[2019-04-03 21:05] #65 closed

[2019-04-03 21:23] ryanchristo opened #87 "Create colony-starter-contract"
## Description

Create a `colony-starter-contract` package that allows you to create extension contracts that utilize with the colonyNetwork contracts. See [Colony Starter Architecture Request](https://build.colony.io/t/colony-starter-architecture-requests/146).

[2019-04-06 00:33] bmiller59 opened #88 "Feature: Allow ganache to be started without --noVMErrorsOnRPCResponse"
## Description

It should be possible to start the ganache service through `colony-cli` without the `--noVMErrorsOnRPCResponse` option.

## Recommendation

Please remove `--noVMErrorsOnRPCResponse` as a required option when starting ganache because many developers who use truffle to develop their contracts will want to be able access revert reasons, and with this setting they cannot. (See this iss

[2019-04-06 07:43] ryanchristo commented on #88
Consider it done! I will get this fixed and publish a new release early next week.

[2019-04-11 08:49] #88 closed

[2019-04-11 10:37] gichiba commented on #56
It looks like I can't fund this issue directly through GitCoin at this point, but consider it open for $200 DAI, to be settled once this issue is sorted: https://github.com/gitcoinco/web/issues/3897

[2019-04-11 12:39] ryanchristo commented on #88
@bmiller59 Just published a new release with `--noVMErrorsOnRPCResponse` not included by default and the option to add it. Thanks again.

[2019-04-11 15:40] luzzif opened #92 "Infinite loop when installing @colony/colony-cli"
On Mac, both with `npm` and `yarn` (as expected) I get stuck in an infinite loop when trying to globally (or locally) install `@colony/colony-cli`.

I think the `postinstall` script has to do with it.

Here's a log extract:

[code]

I'm looking forward to trying colony, but this is not exactly the best thing to first see from it.

[2019-04-11 16:37] ryanchristo commented on #92
Hey @luzzif. Thank you for opening an issue.

[code]

It looks like you might not have `ssh` installed and one of the colonyNetwork submodules is currently using ssh. [See here](https://github.com/JoinColony/colonyToken/blob/2dc3136d71c0af9adb9b05e187885dd9dcae94c8/.gitmodules#L3). Using `ssh` is a good best practice but we need to switch this to `https` or make it more clear that `ssh` is require

[2019-04-12 06:34] gichiba commented on #56
Wow, that's great! If you've got specific questions, @ryanchristo created colonyStarter so he's the one to ask -- I may take a bit longer and give less helpful information :\

Also I have updated the issue title to be a little more clear.

[2019-04-14 20:07] StevenJNPearce commented on #56
I spent a couple of hours fighting with the tooling trying to get the exisiting starters in this repo to work and failed repeatedly. Half of my attempts were met without any error output; yarn would just hang on ```
[4/4] Building fresh packages...
[-/3] ⠂ waiting...
[3/3] ⠂ @colony/colony-cli
[-/3] ⠄ waiting... ```

I gave up out of frustration before even writing a single line of code. Good luck

[2019-04-15 09:35] luzzif commented on #92
Adding a freshly-generated SSH key to GitHub solved the problem.
Anyway, clearing things up about the required SSH setup should help newcomers to get smoothly introduced to Colony in the future.
Thanks for the fast and thorough feedback though!

[2019-04-15 09:35] #92 closed

[2019-04-15 11:32] gichiba commented on #56
@StevenJNPearce Hmm, well, I'm sorry you rammed your head against tools!

Did you happen to run through the [get started guide](https://docs.colony.io/colonystarter/docs-overview/)?

What versions of node are you using? are you installing things globally? This seems like an issue with `yarn`, but I'm not sure how to help.

I'm going to give this over to @pbteja1998 -- but if you resolve the issue

[2019-04-15 11:42] StevenJNPearce commented on #56
@gichiba I wish I could be more helpful in diagnosing the issue, but without error output I don't know where to start. I followed the prerequisites and Linux setup on the getting started guide.

[2019-04-15 14:22] ryanchristo commented on #56
A common issue that has been occurring is attempting to install without `ssh` set up. colonyToken is a submodule within colonyNetwork and it currently uses `ssh` to pull down the submodule. We need to get this updated or check and exit if `ssh` is not installed.

See [here](https://github.com/JoinColony/colonyStarter/issues/92#issuecomment-482190342) for more information.

[2019-04-15 15:53] dimitri0101 commented on #50
This is still an issue when installing via `npx -p @colony/colony-cli colony build colony-starter-react`

[2019-04-16 09:08] ryanchristo commented on #50
Hey @dimitri0101.

What is still an issue? Do you have docker installed and running? Can you share the error message?

[2019-04-17 16:55] dimitri0101 commented on #50
I had to run `docker pull ethereum/solc:0.4.23` to get it to work. Sorry, maybe this is expected behavior?

[2019-04-18 07:30] ryanchristo commented on #50
No worries. You are right. The `docker pull ethereum/solc:0.4.23` is done within the `postinstall.sh` script and `npx` is running a script without installing the `colony-cli` package, so this step needs to be added to the readme instructions for "Using NPX".

In the near future, this will be included in the scripts for colonyNetwork but I will go ahead and add it to the readme in the meantime. Tha

[2019-04-18 13:33] #50 closed

[2019-04-22 09:45] gichiba commented on #56
For anyone else browsing this issue: @pbteja1998 and I have spoken and (s)he's not able to work for the week, but will pick up again next week. If (s)he's not able to push a PR by the time the gitcoin bot auto-opens, I will still wait to hear back before approving another worker for this issue.

kthnxbye

[2019-04-22 09:58] pbteja1998 commented on #56
#94

[2019-04-23 07:39] #87 closed

[2019-04-28 23:40] bmiller59 opened #101 "Allow most ganache options to be passed through colony service"
## Description

Allow colony service to pass most command line arguments to ganache when `colony service start-ganache` is run.

## Rationale

It would be helpful to be able to pass most options to ganache through colony service, for example to set a higher initial ETH value. Or to set handling of VM errors. If possible, default options could be set but overridable when the command line argument w

[2019-04-28 23:49] bmiller59 opened #102 "Contract starter: Automatically place important colony contract addresses in a config file"
## Description

When colony service is used, for example with the contract starter, automatically place the address of deployed Colony contracts (e.g. EtherRouter) in a config file so that they can be easily looked up and used in contract development that leverages base colony network contracts. Also document these addresses and their purposes.

## Rationale

In the current version of the contract

[2019-04-29 06:54] ryanchristo commented on #101
Thanks @bmiller59! I like the idea of having default options that can be overridden.

[2019-04-29 06:55] ryanchristo commented on #102
@bmiller59 Thanks again! The example really helps. I think this would be a great improvement.

[2019-05-04 18:33] bmiller59 opened #103 "Create a colony service "check" or "audit" command"
## Description

Setting up the colony network is a complicated multi-step process than can be influenced by external commands. For example, running "yarn" or "npm" to install a new package can wipe out ganache state, the colony network submodule and its built contracts even when the colony service version is not bumped.

To address this problem, create a "check" or "audit" command within the colon

[2019-05-08 19:40] zzyyxxww commented on #56
is @pbteja1998 still working on this? could I take over?

[2019-05-08 22:35] gichiba commented on #56
Hey zzyyxxww, yes, I've spoken with him and you can definitely take a crack at it!

[2019-05-09 17:27] zzyyxxww commented on #56
@gichiba ok, great. I can start if the application gets accepted.

[2019-05-10 11:58] pbteja1998 commented on #56
@zzyyxxww If you want you can build on top of #94

[2019-05-13 14:26] zzyyxxww commented on #56
@gichiba is it ok if I base both projects on the react equivalents? (the vue-starter on the react-starter and the same for the example project).

I won't do like dumb clones, I'm just trying to get an idea because the `colony-starter` project has a lot of actions that are not included in `colony-starter-react`, and that confused me a bit.

[2019-05-13 15:55] gichiba commented on #56
Yeah, that's the general idea; the react-starter is just the bare-bones stuff you need to get going with a react environment, and the examples contain more verbose code for running through the task lifecycle, creating colonies, etc -- dumb clones is not too far off, actually, but if you can make them smarter it would be better!

[2019-05-14 14:21] zzyyxxww commented on #56
@gichiba cool, I have the starter done, now working on the example.

I'm trying to implement getColony, createColony and createToken sections, but I'm not sure what values to use. Is there a resource with a list colony address?

Is it ok if I can ask you these things on slack or something chat based? I would appreciate that and also try to not take too much time.

[2019-05-15 16:08] gichiba commented on #56
Sure, you can get me on gitter, or @gichiba on telegram

[2019-05-20 16:19] zzyyxxww commented on #56
@gitcoinbot yes, still working on this, will start pushing the WIP PR either today or tomorrow.

[2019-05-26 18:59] fuguefoundation opened #109 "path error with `yarn colony-setup` in colony-example-angular (and maybe elsewhere)"
https://github.com/JoinColony/colonyStarter/edit/master/docs/_Examples_ColonyExampleAngular.md

Package.json has under "scripts" section:

`"colony-setup": "node scripts/colonySetup.js",`

should be:

`"colony-setup": "node node_modules/@colony/colony-cli/src/scripts/colonySetup.js",`

[2019-05-27 07:02] ryanchristo commented on #109
@fuguefoundation Thanks for pointing this out! Looks like I missed one while updating the packages. As you can see in the `colony-starter-angular` package, the `colony-setup` script is now included in the `colony-cli` package as a service command, so it should look like this:

[code]

I'll get this fixed and publish a new release of this package. Thanks again!

[2019-05-27 07:31] ryanchristo commented on #109
Actually, I just realized this script was not intended to be included in the example packages, which is probably why it got overlooked. I am removing it from the scripts and documentation in #110.

The `colony-setup` script is a simple script used to create a test token and colony, which is users can do using the UI in the angular example, so no need to include it.

[2019-05-27 14:14] #109 closed

[2019-05-29 16:45] zzyyxxww commented on #56
@gitcoinbot yes, I'm a couple of views away from pushing without WIP tag

[2019-06-06 21:29] zzyyxxww commented on #56
@gitcoinbot yes, still working on this

[2019-06-09 18:24] bmiller59 opened #112 "Provide warning when using colony-cli installed locally"
## Description

If a user runs colony-cli locally (e.g. installed as a node_module for the current project / dapp) the cli should provide a warning that re-running yarn or npm can damage the ganache network state leading to surprising errors. The colony-cli documentation should also explain this and possibly suggest running it globally.

## Details

When colony-cli is installed locally, the variou

[2019-06-22 03:53] zzyyxxww commented on #56
will the DAIs get transfered on gitcoin now?
@ryanchristo @gichiba

[2019-06-22 05:26] gichiba commented on #56
Oh boy, this is a problem. I think the gitcoinbot is watching this and only this issue

[2019-06-22 07:00] gichiba commented on #56
@gitcoinbot can you approve this bounty?

[2019-06-22 07:01] gichiba commented on #56
@gitcoinbot approve

[2019-06-22 07:01] #56 closed

[2019-06-22 13:01] gichiba commented on #56
So @zzyyxxww I think I need you to 'cancel work' on this bounty, and then I'll just pay you through gitcoin tips

[2019-06-24 12:30] zzyyxxww commented on #56
@gichiba @ryanchristo nice working with you gents.

[2019-07-11 08:27] ryanchristo opened #114 "Fix Vue packages and prepare for publish"
## Description

There are a few bugs in the new Vue packages following #106 that need to be taken care of before publishing the packages. We also need to ensure the package configuration is set up properly for publishing, which includes adding a `test` script so that the tests run in circleci.

[2019-07-18 14:54] #114 closed

[2019-07-26 21:32] bmiller59 opened #117 "Upgrade to web3@latest and truffle@latest"
## Description

web3 has moved out of beta with v1.2.0. Please upgrade to web3@latest, which also allows truffle to be upgraded to the latest version, which has the side benefit of enabling support for node v12. Thx.

[2019-07-29 15:15] ryanchristo commented on #117
Thanks for opening an issue @bmiller59! Definitely an upgrade we will be making soon.

[2019-09-18 05:41] matt-roe opened #118 "Unable to compile core-js in colony-example-vue"
## Description

_Write a detailed description of the issue/feature/question._

Trying basic setup of colony-example-vue

[code]
## Steps to Reproduce

_If you are reporting a bug, list the steps you took that led to the issue._

Followed install steps for colony-example-vue on ubuntu 18.04

Remediation:

https://stackoverflow.com/questions/55308769/module-not-found-error-cant-resolve-core-js-es6
[

[2019-09-18 05:45] matt-roe commented on #118
This was with colony-example-vue

[2019-09-18 15:33] ryanchristo commented on #118
Hi @matt-roe! Can you update the issue so that it includes more information about what your are attempting to do? Also, can you please use blocks?

What do you mean when you say "Followed install steps on ubuntu 18.04"? Are you attempting to run the `colony-example-vue` package on a virtual machine? Have you tried running `colony-example-vue` locally? I'm also a bit confused why you are running ya

[2019-09-18 15:51] matt-roe commented on #118
I was setting up colony-example-vue locally on ubuntu. Following the instructions I set things up with docker.

Sudo probably wasn’t necessary there, tried things both ways when troubleshooting. Essentially, it is fixed with that lower version of core-js so I think you just need to update the dependencies to that older version, or maybe you can add some packages I was seeing as potential solutions

[2019-09-18 16:19] ryanchristo commented on #118
No problem! You can also edit the issue description.

What packages were you seeing as potential solutions?

Also, feel free to open a PR that sets `core-js` to `2.6.9` rather than `^3.1.4`. It looks likes the issue is might be a breaking change in version 3.

[2019-09-21 16:37] matt-roe commented on #118
https://github.com/vuejs/vue-cli/issues/3678

I will attempt a PR

[2019-09-26 13:12] ryanchristo opened #119 "Update colony-cli package to use auburn-glider"
## Description

Currently the default commit for the colonyNetwork contracts in the `colony-cli` package is using the tag `glider`. This should be updated to `auburn-glider` and tested.

[2019-11-09 11:57] Ungolim opened #121 "Add colony-starter-svelte + colony-example-svelte packages"
## Description

_I feel appropriate the addition of these boilerplate and example packages to get started quickly developing a [Svelte](https://svelte.dev/) dApp_

[2022-03-22 11:51] #71 closed

[2022-03-22 11:51] #72 closed

[2022-03-22 11:51] #101 closed

[2022-03-22 11:51] #102 closed

[2022-03-22 11:51] #103 closed

[2022-03-22 11:51] #112 closed

[2022-03-22 11:51] #117 closed

[2022-03-22 11:51] #118 closed

[2022-03-22 11:51] #119 closed

[2022-03-22 11:51] #121 closed

[2022-04-05 16:15] chmanie opened #123 "Make `advanced` example to use colonySDK instead of colonyJS"
The `advanced` browser example is currently using colonyJS functions to accomplish its goals. In the end we would like for all examples to be based on colonySDK.

For that the example has to be adjusted to only use colonySDK functions. Problem is, these functions are not written yet.

We have:

`getBalance`
`createTeam` (`addDomain`)

But we are missing

`moveFunds`
`makePayment`

which would need

[2022-04-05 16:21] chmanie opened #124 "Make the node.js example use the colonySDK functions"
The [node.js  example](https://github.com/JoinColony/colonySDK/blob/main/examples/node/index.ts) should use the functions provided by the colonySDK and not the ones from colonyJS.

The rewrite could look very similar to the solution for the [browser example](https://github.com/JoinColony/colonySDK/blob/main/examples/browser/src/basic.ts) of the same kind.

[2022-05-17 17:01] chmanie opened #127 "Add IPFS support to ColonyEvents"
The Colony Dapp stores certain information about events on IPFS. It would be really nice if we could access that metadata directly from events created by the Colony SDK.

The event metadata is stored on IPFS as JSON encoded objects for the following contract events:

[`DomainMetadata`](https://github.com/JoinColony/colonyNetwork/blob/eac730ea4310907ad667490d889e3b9fbad4ef83/contracts/colony/Colony

[2022-05-23 17:48] #123 closed, assigned to nobody

[2022-05-23 17:51] chmanie commented on #123
I did that myself.

Good work Chris.

Thank you Chris!

[2022-05-24 16:58] chmanie commented on #124
Oh yeah, this is done, too.

[2022-05-24 21:21] chmanie commented on #127
Closed by #128

[2022-05-24 21:21] #127 closed

[2022-11-28 10:15] chmanie opened #139 "Use `graphql-ws` instead of `subscription-transport-ws`"
That is as soon as the colony subgraph supports that (if it ever will).

Original warning:

[code]